<a href="https://colab.research.google.com/github/frankkatu/Python-Problems/blob/main/Python_Tuples_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Assume, you have been given a tuple.
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291)).
Write one line of Python code to access and print the value 400.

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

# Task 2
Assume, you have been given a tuple. Write a Python program that creates a new
tuple excluding the first and last two elements of the given tuple and prints the new tuple.

In [ ]:
user_input = input("Enter elements of a tuple seperated by commas: ")

user_tuple = tuple(user_input.split(","))

new_tuple = user_tuple[2:-2]

print(new_tuple)

Enter elements of a tuple seperated by commas: 10, 20, 24, 25, 26, 35, 70
(' 24', ' 25', ' 26')

# Task 3
Assume, you have been given a tuple.Write a Python program that prints the size of the tuple and all its elements as shown below.

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

tuple_size = len(book_info)

print(f"The size of the tuple is: {tuple_size}\n")

for item in book_info:
  print(item)

The size of the tuple is: 4

('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

# Task 4
Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards. Write a Python program that prints the award category, the book name, and its total votes
earned as shown below.

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for category, name, votes in book_info:
  print(f"The {category} won the {name} category with {votes} votes\n")

The Best Mystery & Thriller won the The Silent Patient category with 68821 votes

The Best Horror won the The Institute category with 75717 votes

The Best History & Biography won the The five category with 31783 votes

The Best Fiction won the The Testaments category with 98291 votes

# Task 5
Write a python program that takes an input from the user and finds the number of times that the
input is present in a given tuple.

In [ ]:
user_tuple = input("Enter elements to form a tuple separated by commas: ")

my_tuple = tuple(user_tuple.split(","))
# print(my_tuple)

number = input("Enter a number to check: ")
# print(number)

count = 0
for item in my_tuple:
  if item == number:
    count += 1

print(count)

Enter elements to form a tuple separated by commas: 11,3,4,4,5,5,6,6,8,8,4
Enter a number to check: 4
3

# Task 6
Write a Python program to reverse a given tuple.

In [ ]:
my_tuple = (1, 2, 3, 4)

my_list = list(my_tuple)
# print(my_list)
reversed_list = []

for item in my_list:
  reversed_list = [item] + reversed_list
  reversed_tuple = tuple(reversed_list)

print(reversed_tuple)

(4, 3, 2, 1)

#                                           **DICTIONARIES**

# Task 7
Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two
dictionaries remain unchanged.
Note: You can not use .update() function

In [ ]:
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}

merged_dict = {}

for key in dict1:
  merged_dict[key] = dict1[key]

for key in dict2:
  merged_dict[key] = dict2[key]

print(f"Merged dictionry is : {merged_dict}")

Merged dictionry is : {'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

# Task 8
Write a Python program that takes a dictionary as an input from the user and then prints the
average of all the values in the dictionary.
[You are not allowed to use len() and sum()]

In [ ]:
my_dict = {}

n = int(input("Enter how many Key-value pairs do you want to enter: "))

for items in range(n):
  key = input("Enter a key: ")
  value = input("Enter a value: ")
  my_dict[key] = value

sum = 0
for value in my_dict.values():
  sum += int(value)
  average = sum / n

print(f"Average is: {average}")

Enter how many Key-value pairs do you want to enter: 3
Enter a key: Ron
Enter a value: 100
Enter a key: Dan
Enter a value: 200
Enter a key: James
Enter a value: 300
Average is: 200.0

# Task 9
Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only
those elements from 'exam_marks' whose keys have values higher than the user input
(inclusive).

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

pass_mark = int(input("Enter the pass mark: "))
promoted = {}

for key, value in exam_marks.items():
  if value >= pass_mark:
    promoted[key] = value

print(promoted)

Enter the pass mark: 180
{'Alden Cantrell': 200, 'Pierre Cox': 190}

# Task 10
Write a Python program that finds the largest value with its key from a given dictionary.
[You are not allowed to use the max() function for this task]
Note: You do not need to take the dictionaries as an input from the user but your code should
work for any given dictionary. Also, you need to handle the quotation marks as a part of the
output.

In [ ]:
books = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

highest_book = {}
largest_key = None
largest_value = 0


for key, value in books.items():
  if value > largest_value:
    largest_value = value
    largest_key = key
    highest_book = {key:value}

print(highest_book)
print(f"The highest selling book genre is '{largest_key}' and the number of books sold is {largest_value}")

{'mystery': 15}
The highest selling book genre is 'mystery' and the number of books sold is 15

# Task 11
Write a Python program that takes a String as an input from the user and counts the frequency
of each character using a dictionary. For solving this problem, you may use each character as a
key and its frequency as values. [You are not allowed to use the count() function]
Hint: You can create a new dictionary to store the frequencies. You may ignore the case for
simplicity (i.e. may consider P and p to be the same).

In [ ]:
user_string = input("Enter any string: ").lower()

frequency_dict = {}

for char in user_string:
  if char in frequency_dict:
    frequency_dict[char] += 1

  else:
    frequency_dict[char] = 1
print(frequency_dict)

Enter any string: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, ' ': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

# Task 12
Suppose you are given the following dictionary where the values are lists.
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
Write a Python program that counts the total number of items in a dictionary’s values and prints
it.
[Without using sum(), len(), count() functions]

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

count = 0
for value in dict_1.values():
  for item in value:
    count += 1

print(count)

9

# Task 13
Suppose you have been given the following list of tuples.
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
Write a Python program that converts this list of tuples into a dictionary and then prints the
dictionary. The items in each tuple are a key and its value respectively. You need to group the
values with the same keys into a list as shown below.
[You are not allowed to use set]

In [ ]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

new_dict = {}

for pair in list_1:
  key, value = pair

  if key in new_dict:
    new_dict[key].append(value)
  else:
    new_dict[key] = [value]
print(new_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

# Task 15
Given a list of tuples, your task is to multiply the elements of the tuple and return a list of
multiplied elements as shown below.

In [ ]:
my_list = [(2, 3), (4, 5), (6, 7), (2, 8)]

new_list = []

for item in my_list:
  item1, item2 = item
  result = item1 * item2
  new_list.append(result)

print(new_list)

[6, 20, 42, 16]

# Task 16
Suppose there is a dictionary named my_dictionary.
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.
Now write a Python program to remove empty items from the dictionary. [Empty items means
keys without any values (None)].

In [ ]:
my_dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None, 'd4': 'Blue', 'a5': None}

new_dict = {}

for key, value in my_dictionary.items():
    if value is not None:
        new_dict[key] = value

print(new_dict)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

# Task 17
Suppose you are given a dictionary as shown below. Write a Python program that takes two
inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of
values. Your task is to extract all the items from the dictionary whose values lie in the range
given as input by the user.
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}

In [ ]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
new_dict = {}

lower = int(input("Enter the lower range: "))
upper = int(input("Enter the upper range: "))

for key,value in dict_1.items():
  if lower <= value < upper:
    new_dict[key] = value


print(new_dict)

Enter the lower range: 9
Enter the upper range: 12
{'c': 9, 'e': 11}

# Task **18**
Given a list of tuples, your task is to group the tuples based on the second element in the tuples
as shown in the examples below. We can achieve this using dictionary by checking the second
element in each tuple.
[You do not need to take tuple as input and can assume that it is given as below]

In [ ]:
 [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]