<a href="https://colab.research.google.com/github/frankkatu/Python-Problems/blob/main/Python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to python**

In [ ]:
print("Hello world")

Hello world

In [ ]:
print(54 + 56)

110

In [ ]:
season = "Summer"
year = 2023
print(season)
print(year)

Summer
2023

In [ ]:
Name = input("Enter your name")
print("Your name is ", Name)

Enter your nameJohn
Your name is  John

In [ ]:
M = int(input("Enter the first number"))
N = int(input("Enter the second number"))
power = M**N
print(f"{M}^{N}:{power}")

Enter the first number2
Enter the second number3
2^3:8

In [ ]:
weight = int(input("Enter the weight to be shipped"))
load = (weight//4)*4
print(load)

Enter the weight to be shipped23
20

In [ ]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
C = int(input("Enter number C: "))
D = float(input("Enter number D: "))
result = int((A**C) + (B*A) - (D/3))
print(result)

Enter number A: 2
Enter number B: 6
Enter number C: 8
Enter number D: 1.3
267

In [ ]:
chocolates = int(input("Enter the number if chocolates: "))
received  = chocolates//3
remaining = chocolates % 3
print("Each friend will recive: ", received, "chocolates")
print("The number of remaing chocolates is: ", remaining)

Enter the number if chocolates: 50
Each friend will recive:  16 chocolates
The number of remaing chocolates is:  2

In [ ]:
import math
radius = float(input("Enter the radius"))
circumference  = 2*(math.pi)*radius
area = math.pi*(radius**2)
print("Circumference is ", circumference)
print("Area is", area)

Enter the radius4
Circumference is  25.132741228718345
Area is 50.26548245743669

**Loops**

In [ ]:
# Understanding loops;

# we mostly need range we are handling indices/ and direct integer.
#for loop:

name_car = input("Enter a the favourite car: ")
num = int(input("Enter a number: "))
for i in range(num):
  print(name_car)


#while loop:

Enter a the favourite car: Veyron
Enter a number: 5
Veyron
Veyron
Veyron
Veyron
Veyron

In [ ]:
arr =[1,4,5,7,8,34,7]
sum = 0
for i in arr:
  sum = sum + i
print("The sum is: ", sum)

The sum is:  66

In [ ]:
total = int(input("Enter the weight you want"))
weight = (total // 4)*4
print(weight)

Enter the weight you want11
8

In [ ]:
total = int(input("Sample Input 1:"))
print("sample Output 1:")
received = total//3
# remain = total- (received*3)
remain = total % 3
print("Each friend will receive", received, "chocolates")
print("The number of remaining chocolates is ",remain)

Sample Input 1:90
sample Output 1:
Each friend will receive 30 chocolates
The number of remaining chocolates is  0

In [ ]:
int1 = int(input("Enter the first integer: "))
float1 = float(input("Enter the first float: "))
int2 = int(input("Enter the second integer: "))
print(f"The inputs: {int1}, {float1}, {int2}")
sum = int1 + float1
# final = str(sum) + str(int2)
print(f"The result: {sum}{int2}")

Enter the first integer: 3
Enter the first float: 11.57
Enter the second integer: 7
The inputs: 3, 11.57, 7
The result:, 14.577

In [ ]:
#A

for i in range(24, -7, -6):
  if i == -6:
    print(i)
  else:
    print(i, end=',')

24,18,12,6,0,

In [ ]:
for i in range(-10, 21, 5):
  if i == 20:
    print(i)
  else:
    print(i, end=',')

-10,-5,0,5,10,15,20

In [ ]:
sum = 0
for i in range(1, 601):
  if i%7 ==0 and i%9 ==0:
    pass
  elif  i%7 == 0 or i%9 == 0:
    sum+=i

print(sum)

39814

In [ ]:
my_string = "   frank   "
print(my_string.strip())

frank

In [ ]:
sum  = 0
count = 0
for i in range(10):
  num = int(input("Enter the number: "))
  if num%2 == 0:
    pass
  else:
    sum += num
    count += 1
average = sum/count
print(sum)
print(average)

Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 4
Enter the number: 5
Enter the number: 6
Enter the number: 7
Enter the number: 8
Enter the number: 9
Enter the number: 10
25
5.0

In [ ]:
sum = 0
N = int(input("Enter any number: "))
for i in range(N+1):
  if i % 7 != 0:
    pass
  else:
    sum += i
print(sum)

Enter any number: 50
196

In [ ]:
num = input("Enter a number")
r = ''
for i in range(len(num)):
  r+=str(int(num)%10)
  num = int(num)//10
for  j in range(len(r)):
  if j == len(r)-1:
    print(r[j])
    break
  else:
    print(r[j], end=',')

print(r[len(r)-1])

Enter a number32768
8,6,7,2,3
3

In [ ]:
s  = 'frank'
# to access  index  in a string we use indexing
print(s[0])
print(len(s))
print(s[len(s)-1])

f
5
k

In [ ]:
a  = 45326
b = a//10

# print(a%10)
# print(b)

#45326 = 10x4532 + 6
# 45326 = 7X6475 + 1
#  256 = 2X128 + 0
# print(45326%7)

In [ ]:
print(54 + 56)

110

In [ ]:
# Task 3
season = "Summer"
year = 2023
print(season, "\n" , year)

Summer
 2023

In [ ]:
# Task 9
value1 = input("Enter two values")
value2 = input("Enter two values")
combined = value2 + value1
print(combined)

Enter two values5
Enter two values2
25

In [ ]:
# Task 10
integer1 = int(input("Enter an integer"))
float1 = float(input("Enter an integer"))
integer2 = int(input("Enter an integer"))
print(f"The inputs: {integer1}, {float1}, {integer2}")
result = str(integer1 + float1) + str(integer2)
print(result)

Enter an integer33
Enter an integer1.9
Enter an integer753
The inputs: 33, 1.9, 753
34.9753

In [ ]:
# Task11
user_input = int(input("Enter any number"))
if user_input % 2 == 0:
  print("True")
else:
  print("False")

Enter any number7
False

In [ ]:
count = 24
while count <=-6:
  print(count,end='')
  count = count - 6

Write a Python program that takes a String as an input from the user and prints that String in
reverse order.

In [ ]:
#Reversing a string
text = "Frank"
reversed_text = ""
for char in text:
  reversed_text = char + reversed_text
print(reversed_text)

knarF

Write a Python program that takes a String as an input from the user and prints that String in
reverse order.

In [ ]:
#Reversing a string
text = "Python"
reversed_text2 = text[::-1]
print((reversed_text2))

nohtyP

Write a python program that takes 2 inputs from the user, where the first input is a string with
length greater than 1. The second input is the index of the first given string from where you have
to start reversing. After reversing the first input string from that index, print the new string back
to the user.

In [ ]:
#Reversing part of the string
for i in range(1):
  str1 = input("Enter the first string: ")
  index = int(input("Enter the index: "))
if len(str1) > 1 & index <= len(str1):
  reversed_text3 = str1[index::-1]
  remaining_text = str1[index + 1:]
  result = reversed_text3 + remaining_text
print(result)

Enter the first string: aBcd1234defg
Enter the index: 5
21dcBa34defg

Write a program that takes a string as input and prints “Binary Number” if the string contains
only 0s or 1s. Otherwise, print “Not a Binary Number”.

In [ ]:
numbers = [5, 2, 9, 1, 5, 6]

min = numbers[0]
for i in range(len(numbers)):
  if numbers[i] < min:
    min = numbers[i]

print(min)

1

In [ ]:
def insertion_sort(arr):
    for i in range(1, len(arr)):
        j = i - 1
        while j > 0 and arr[i] < arr[j]:
            arr[j], arr[i] = arr[i], arr[j]  # Swap
            j -= 1

# Example usage
numbers = [9, 5, 1, 4, 3]
print("Before sorting:", numbers)

insertion_sort(numbers)

print("After sorting:", numbers)

Before sorting: [9, 5, 1, 4, 3]
After sorting: [9, 1, 4, 3, 5]